---
layout: splash
author_profile: false
title: "Welcome👋"
header:
  overlay_color: "#000"
  #overlay_image: /assets/images/teaser.jpg
  actions:
    - label: "Download CV"
      url: "CV_KimJiYoun.pdf"
  #caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "My name is Jiyoun Kim and I study computational linguistics."
intro: 
  - excerpt: 'I have a *huge* interest in **languages** of both **humans** and **machines**. '
feature_row:
  - image_path: /assets/images/about.png
    #alt: "image 1"
    #title: "About"
    #excerpt: "Get more `information` about me"
    url: "/about"
    btn_label: "Read More"
    #btn_class: "btn--primary"

  - image_path: /assets/images/activities.png
    #image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    #alt: "image 2"
    #title: "Placeholder 2"
    #excerpt: "See what I have done"
    url: "/travel"
    btn_label: "Read More"
    #btn_class: "btn--primary"

  - image_path: /assets/images/blog.png
    #title: "Placeholder 3"
    #excerpt: "See what I've learned"
    #url: "/blog"
    btn_label: "Read More"
    #btn_class: "btn--primary"

---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}


